* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
}

.content-section {
  width: 75%;
  margin: 0 auto;
  padding: 3% 0;
}

.content-section h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content-section p {
  font-size: 1.2em;
  color: #333;
}

.video-section {
  position: relative;
  width: 100%;
  max-height: 550px;;
  overflow: hidden;
}

#video-elem {
  width: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  max-height: 550px;
}

.video-overlay:hover {
  opacity: 0.65;
}

.video-overlay h1 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  font-size: 3em;
  color: #000;

}
